<div class="login_page">
  <h2>Login To My Cookbook</h2>
  <form action="/login" method="post">
    <div class="login_inputs">
      <input name="username" type="text" placeholder="Username" value="<%= params[:username] %>">
      <br />
      <input name="password" type="password" placeholder="Password..">
      <br />
    </div>

    <div class="login_button">
      <input type="submit" value="Login">
    </div>
  </form>
</div>
